/* h2 {
    background-color: yellowgreen;
} */

*{
    background-color: papayawhip;
}
h2{
    background-color: orange;
}
    

div h2 {
    background-color: brown;
}
.text-2{
    background-color: aquamarine;
}


